.section-0 {
    background-image: url("images/background/background--medium@2x.jpg"); /* IE / Edge / Firefox */
    background-image: -webkit-image-set(url("images/background/background--medium@1x.jpg") 1x, url("images/background/background--medium@2x.jpg") 2x);
    background-image: image-set(url("images/background/background--medium@1x.jpg") 1x, url("images/background/background--medium@2x.jpg") 2x);
    height: 1600px;
}

/* Show Large Nav */
#nav-large {
    display: flex;
}

#nav-large ul li a {
    font-size: 1rem;
    font-weight: 300;
    color: rgb(255, 255, 255);
    font-family: 'Merriweather Sans', arial, helvetica, sans-serif;
}

#nav-large ul li a:hover {
    color: rgb(208, 159, 119);
    transition: all linear 0.3s;
}

/* Hide Mobile Nav */
#nav-mobile,
#nav-open,
#nav-close {
    display: none;
}

#nav-large ul {
    display: flex;
    flex-flow: row nowrap;
}

#nav-large ul li {
    padding: 0 25px;
}

.section-1 {
    width: 450px;
    top: 650px;
    transform: translate(-50%, -325px);
}

.section-1 .inner-content div:last-child {
    position: relative;
    bottom: -100px;
}

.section-1 .inner-content h1 {
    font-size: 2.5rem;
    line-height: 3rem;
}

.section-1 .inner-content h6 {
    font-size: 0.85rem;
    line-height: 1.5rem;
}

.section-1 .inner-content hr {
    width: 30px;
    border-width: 2px;
}

.section-1 .inner-content .scrolldown svg {
    transform: scale(1.5);
}

/* Section
   Headings */

.section-heading h5 {
    font-size: 0.75rem;
    line-height: 1.75rem;
}

.section-heading h2 {
    font-size: 2.5rem;
    line-height: 3rem;
}

.section-heading p {
    font-size: 1rem;
    line-height: 1.5rem;
}

.section-2 .inner-content .sub-section {
    display: flex;
    flex-flow: row nowrap;
    width: 700px;
    align-items: flex-start;
    justify-content: space-between;
    margin: 100px 0;
}

.section-2 .inner-content .sub-section p:first-child {
    margin-bottom: 0;
}

.section-2 .inner-content .sub-section p {
    font-size: 1.15rem;
    line-height: 2rem;
    width: 305px;
}

.section-3 .video-thumbnail {
    width: 700px;
}

.section-4 {
    margin-top: 200px;
}

.section-4 .section-heading {
    width: 400px;
}

.section-4 .inner-content {
    margin-top: 100px;
    flex-flow: row nowrap;
    align-items: flex-start;
    justify-content: space-between;
    min-width: 700px;
    width: 90%;
    max-width: 750px;
    text-align: left;
}

.section-4 .inner-content .sub-section {
    display: flex;
    flex-flow: column wrap;
    align-content: flex-end;
    width: 320px;
}

.section-4 .inner-content div img {
    width: 333px;
}

.section-4 > div:nth-child(2) .sub-section {
    order: -1;
}

.section-5 .section-heading {
    width: 500px;
}

.section-5 .section-heading p {
    width: 40ch;
    margin: 75px auto;
}

.section-5 .cards {
    width: 450px;
    background-image: url('images/carousel-bg@2x.jpg');
}

.section-5 .cards .experience picture {
    width: 450px;
    height: 500px;
}

.section-5 .cards .experience {
    margin: 0 100px 0 0;
}

/* Page 
   Button */

.page-button-container {
    height: 350px;
}

/* Carousel
   Card
   Arrows */

.section-5 .previous {
    transform: rotate(180deg) translateX(-15px);
}

.section-5 .next {
    transform: translateX(-15px);
}
   
.section-5 .card-button svg {
    transform: scale(3.5);
}

.section-6 .logos {
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    margin: 150px 0 0 0;
    width: 100%;
    max-width: 1000px;
}

.section-7 {
    background-image: url('images/footer-large.jpg');
    background-position: 50% 50%;
    background-size: 50%;
    height: 400px;
}

.section-7 .inner-content > * {
    margin-bottom: 120px;
}

.section-7 ul {
    flex-direction: row;
    width: 500px;
    justify-content: space-around;
}

.section-7 ul li a {
    font-size: 0.65rem;
}

.section-7 .inner-content div:last-child {
    color: rgb(56, 42, 30, 0.5);
}

/* Device 
   Info */

#device-info::before {
    content: "--medium.css";
}

/* @media (orientation: landscape) {

    .header {
        padding-top: 10px;
        justify-content: flex-start;
    }

    #menu {
        padding-top: 25px;
    }

    .section-1 {
        top: 400px;
    }

    .section-5 .cards {
        width: 450px;
    }

    .section-5 .cards .experiences-card img {
        height: 200px;
        width: 450px;
    }

    .section-6 .logos {
        flex-flow: row wrap;
        width: 50%;
        margin-top: 75px;
    }

    .page-button-container {
        height: 200px;
    }

} */